<% include header.ejs %>
  <div class="helper-bar">
    <div class="pull-left search">
      <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="请输入课程名查询">
      </div>
      <button type="submit" class="btn btn-primary">查询</button>
      </form>
    </div>
    <div class="pull-right new">
      <a type="submit" class="btn btn-success" href="/admin/courses/new">新增</a>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <tr><th>课程编号</th><th>课程名称</th><th>课程分类</th><th>授课主人</th><th>课程简介</th><th>总盈利</th><th>操作</th></tr>
      <% for(var i=0; i<courses.rows.length; i++) {%>
      <tr>
        <td>courses.rows[i].id</td>
        <td>courses.rows[i].name</td>
        <td>courses.rows[i].name</td>
        <td>courses.rows[i].name</td>
        <td>courses.rows[i].description</td>
        <td>courses.rows[i].name</td>
      </tr>
      <% } %>
    </table>
  </div>
<% include footer.ejs %>