
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/thirdparty/jquery/jquery-1.11.3.min.js"></script>
    <script src="/thirdparty/bootstrap/js/bootstrap.min.js"></script>

    <script src="/admin/<%=nav%>.js"></script>
  </body>
</html>