    <div class="tips-dialog hidden">
        <p><%if (tips){%><%=tips%><%}%></p>
    </div>
    <div class="mask hidden dialog">
        <div class="choose-dialog">
            <div class="tips-content"></div>
            <div class="btns-box">
                <div class="btn ok-btn">确定</div>
                <div class="btn cancel-btn">取消</div>
            </div>
        </div>
    </div>
    <script src="/js/common.js"></script>
</body>
</html>