<ul class="menus">
    <li class="activity">
        <a href="/courses">
        <div>
            <img src="/img/menus/activity-active.png" alt=""/>
            活动
        </div>
        </a>
    </li>
    <li class="teacher">
        <a href="/teachers">
            <div>
                <img src="/img/menus/teacher.png" alt=""/>
                讲师
            </div>
        </a>
        </li>
    <li class="buyers">
        <a href="/cart">
        <div>
            <img src="/img/menus/buyers.png" alt=""/>

        </div>
            购课车
        </a>
        </li>
    <li class="my">
        <a href="/me">
        <div>
            <img src="/img/menus/my.png" alt=""/>
            我的
        </div>
        </a>
        </li>
</ul>