<% include header.ejs %>
    <div class="share-panel">
        <div class="share-title">
            <%if(user && (user.id == userid)){%>
            <h1>分享二维码</h1>
            <% } else {%>
            <h1>加入活动葩</h1>
            <% } %>

        </div>
        <%if(user && (user.id == userid)){%>
        <div class="share-content">点击右上角「...」菜单，将「活动葩」分享给好友或者分享到朋友圈，并将个人账户名称改为真实姓名，推荐报课成功，就能获得推荐奖励~</div>
        <% } else {%>
        <div class="share-content">长按图片，识别图中二维码，加入「活动葩」 大家族，可以了解相关活动和讲师信息，或许有你想要参与的活动哟~</div>
        <% } %>
        <div class="share-code">
            <div class="code-img">
                <img src="http://qr.topscan.com/api.php?text=<%=registerurl%>">
            </div>
            <p>扫描二维码了解更多关于</p>
            <h1>活动葩！</h1>
        </div>
        <div class="bot-box">
            <a class="phone-p ellipsis" href="tel:">152XXXX6243</a>
            <a class="wx-p" href="#">xxxaiabc</a>
        </div>
    </div>
    <script type='text/javascript' src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/js/recommend.js"></script>
<% include footer.ejs %>
<% var activeMenu = 'my' %>
<% include menu.ejs %>