body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: #1e1e1e;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  background: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  display: block;
  border: 0;
}

li {
  list-style: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a, a:link, a:visited, a:hover, a:active, [onclick], input {
  text-decoration: none;
  color: #f7a100;
  outline: none;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

header, nav, section, article, footer, figure, figcaption {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.hidden {
  display: none;
}

.visi-hidden {
  visibility: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 199;
}

.choose-dialog {
  position: fixed;
  top: 50%;
  left: 52px;
  right: 52px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  z-index: 201;
}

.choose-dialog .tips-content {
  padding: 25px 25px;
  line-height: 1.5;
  font-size: 15px;
  color: #524070;
  border-bottom: 1px solid #dfdee0;
}
.login-icon{
  position: absolute;
  left: 25px;
  top: 7px;
  }
.choose-dialog .btns-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 15px;
  color: #8a919b;
}

.choose-dialog .btn {
  position: relative;
  width: 50%;
  line-height: 45px;
}

.choose-dialog .btn:active {
  background-color: #f4f3ee;
}

.choose-dialog .btn:last-child:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #dfdee0;
}

.header-panel {
  height: 53px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 53px;
  height: 53px;
  background-color: #524070;
  text-align: center;
  color: #fff;
  z-index: 99;
}

.header h1 {
  font-size: 17px;
  margin: 0 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .de-avatar {
  position: absolute;
  right: 15px;
  top: 11px;
  height: 28px;
  width: 28px;
  border: 1px solid #392657;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #392657;
  overflow: hidden;
}

.header .de-avatar img {
  width: 100%;
}

.header .back-cancel-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  padding: 0 5px 0 15px;
  line-height: 53px;
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: #bcc2ca;
}

.form-panel {
  margin: 140px 40px 0 40px;
}

.form-panel .form-group {
  position: relative;
  border-top: 1px solid #e4e4e4;
}



.form-panel .input-panel {
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f7f7f7;
}

.form-panel .input-panel input {
  height: 55px;
  padding: 10px 10px 10px 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  border: 0 none;
  font-size: 30px;
  color: #9ba0a9 !important;
  /* background: url('/img/login/login.png') no-repeat; */
}
.form-panel .input-group input:before{
   background:url('/img/login/login.png');
   position:absolute;
   top:0;left:0;
   content:" ";
   width:10px;
   height:45px;
}


.form-panel .send-btn {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 66px;
  line-height: 30px;
  height: 29px;
  border: 1px solid #00adef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  color: #00adef;
  background-color: #FFF;
}

.form-panel .send-btn:active {
  background-color: #f4f3ee;
}

.form-panel .send-btn.disabled:active {
  background-color: #f7f7f7;
}

.y-lar-btn {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  text-align: center;
  color: #fff;
  font-size: 15px;
}

.y-lar-btn .m-bg {
  width: 100%;
  /* height: 100%; */
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.y-lar-btn .btn-box {
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #00adef;
  display: block;
  /* background: url('/img/login/login.png') no-repeat; */
  font-size: 30px;
}

.y-lar-btn .btn-box:active {
  background-color: #8cd0cc;
}

.checkbox-label {
  font-size: 12px;
}

.checkbox-label .check-input {
  display: none;
}

.checkbox-label .check-input:checked + .check-box {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFW…TUMCFiDMEa2GiG3SPGEJyxhmRYKTGGgADjaKaln0EAAQYA8oBEC5gay8YAAAAASUVORK5CYII=) no-repeat scroll 0 0 #d2d6db;
  background-size: cover;
}

.checkbox-label .check-box {
  position: relative;
  display: inline-block;
  top: 2px;
  width: 9px;
  height: 9px;
  border: 1px solid #FFF;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.tips-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 70%;
  padding: 8px 12px;
  line-height: 1.5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tips-dialog p {
  text-align: center;
}

.login-body {
  padding-bottom: 50px;
  background: -webkit-linear-gradient(135deg, #50b5c1, #71cb9a);
  /* background-color: #50b5c1; */
}

.login-body .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18px;
  text-align: center;
}

.login-body .go-register {
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  background: #51b2cf;
  color: #FFF;
  width: 90px;
  border: 1px solid #91cfe0;
  border-radius: 5px;
}

.login-ct .logo-box {
  height: 92px;
  width: 131px;
  margin: 0 auto;
  padding: 35px 0;
}

.login-ct .logo-box img {
  display: block;
  width: 100%;
}

.login-ct .form-tips {
  display: -webkit-box;
  -webkit-box-pack: justify;
  /* line-height: 32px; */
  margin-top: 20px;
  color: #bcc2ca;
  font-size: 12px;
}

.login-ct .form-tips a {
  /* display: block; */
  padding-left: 15px;
  color: #bcc2ca;
}

.login-ct .form-tips label {
  display: block;
  padding-right: 15px;
}

.register-ct .photo-btn {
  height: 94px;
  width: 94px;
  margin: 30px auto 15px;
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.register-ct .photo-btn img {
  display: block;
  width: 100%;
}

.register-ct .camera-box {
  height: 44px;
  width: 56px;
  margin: 26px 18px;
}

.register-ct .photo-tips {
  margin-bottom: 30px;
  line-height: 1rem;
  font-size: 12px;
  text-align: center;
  color: #FFF;
}

.register-ct .code-tips {
  margin-top: 15px;
  line-height: 1rem;
  font-size: 12px;
  text-align: center;
  color: #f6b01d;
}

.reset-ct {
  padding-top: 35px;
}

.edit-ct {
  padding-bottom: 20px;
}

.require-tips {
  position: absolute;
  top: 20px;
  left: 12px;
  color: #eb4b58 !important;
}

.shear-body {
  background-color: #000;
}

.shear-body .shear-ct {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.shear-cl-btn {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px 0 15px;
  font-size: 14px;
  color: #fff;
}

.shear-cm-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px 0 10px;
  font-size: 14px;
  color: #fff;
}

.shear-ct .shear-pic {
  width: 100%;
  height: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.shear-ct .shear-case {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 84%;
  height: 0;
  padding-top: 84%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #524070;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.shear-ct .shear-case:after {
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  display: block;
  content: '';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #524070;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.shear-ct .zoom-box {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  font-size: 0;
  text-align: center;
  z-index: 11;
}

.shear-ct .add-btn {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  margin-right: 1px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(82, 64, 112, 0.8);
}

.shear-ct .add-btn:active {
  background-color: rgba(82, 64, 112, 0.95);
}

.shear-ct .add-btn:after {
  position: absolute;
  content: '';
  left: 16px;
  top: 13px;
  width: 13px;
  height: 1px;
  background-color: #fff;
}

.shear-ct .add-btn:before {
  position: absolute;
  content: '';
  left: 22px;
  top: 7px;
  width: 1px;
  height: 13px;
  background-color: #fff;
}

.shear-ct .minus-btn {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(82, 64, 112, 0.8);
}

.shear-ct .minus-btn:active {
  background-color: rgba(82, 64, 112, 0.95);
}

.shear-ct .minus-btn:after {
  position: absolute;
  content: '';
  left: 16px;
  top: 13px;
  width: 13px;
  height: 1px;
  background-color: #fff;
}

.shear-ct .t-b-mask {
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
}

.shear-ct .t-b-mask:before {
  position: absolute;
  content: '';
  left: 50%;
  margin-left: -100%;
  width: 200%;
  height: 400%;
  bottom: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.shear-ct .t-b-mask:after {
  position: absolute;
  content: '';
  left: 50%;
  margin-left: -100%;
  width: 200%;
  height: 400%;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.shear-ct .l-r-mask {
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
}

.shear-ct .l-r-mask:before {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  right: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.shear-ct .l-r-mask:after {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  left: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.menus{background: #f8f8f8;position: fixed;bottom: 0;left: 0;right: 0;z-index: 100;border-top: 1px solid #d3d3d3;}
.menus li{float: left;width: 25%;height: 60px;text-align: center;display: block;}
.menus li a{color: #333333;display: block;height: 60px;position: relative;/* top: -5px; */}
.menus li div{width: 36%;margin: 0 auto;}
.menus li div img{width: 100%;margin-top: 5px;}
.menus li.activity div{width: 36%;margin: 0 auto;color: #00adef;}
.menus li.teacher{}
.menus li.buyers{}
.menus li.my{}

.teacher-class-panel .name-box, .course-panel .name-box .profile{
    margin-left:15px;
}
.teacher-class-panel .name-box, .course-panel .name-box .profile h3{    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;}
.teacher-class-panel .name-box, .course-panel .name-box .profile span.shiting{
      color: #00adef;
      font-size: 12px;
      border: 1px solid;
      /* border-radius: 2px; */
}

.teacher-class-panel .name-box, .course-panel .name-box .profile span.price{
  color: #a4d234;
  font-size: 12px;
}

.teacher-class-panel .name-box, .course-panel .name-box .profile span.price .num{
  font-size: 16px;
}
.teacher-class-panel .name-box, .course-panel .name-box .com{
  color: #00adef;
}
.teacher-class-panel .name-box, .course-panel .name-box .right{
  float: right;
}
.teacher-class-panel .name-box, .course-panel .name-box .com{
  color: #00adef;
}