body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: #1e1e1e;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  background: #fff;
  /* background: -webkit-linear-gradient(135deg, #50b5c1, #71cb9a); */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  display: block;
  border: 0;
}

li {
  list-style: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a, a:link, a:visited, a:hover, a:active, [onclick], input {
  text-decoration: none;
  color: #1e1e1e;
  outline: none;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

header, nav, section, article, footer, figure, figcaption {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.hidden {
  /* display: none; */
}

.visi-hidden {
  visibility: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 199;
}

.choose-dialog {
  position: fixed;
  top: 50%;
  left: 52px;
  right: 52px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  z-index: 201;
}

.choose-dialog .tips-content {
  padding: 25px 25px;
  line-height: 1.5;
  font-size: 15px;
  color: #524070;
  border-bottom: 1px solid #dfdee0;
}

.choose-dialog .btns-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 15px;
  color: #8a919b;
}

.choose-dialog .btn {
  position: relative;
  width: 50%;
  line-height: 45px;
}

.choose-dialog .btn:active {
  background-color: #f4f3ee;
}

.choose-dialog .btn:last-child:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #dfdee0;
}

.header-panel {
  height: 53px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 53px;
  height: 53px;
  background-color: #009bd7;
  text-align: center;
  color: #fff;
  z-index: 99;
}

.header h1 {
  font-size: 17px;
  margin: 0 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .de-avatar {
  position: absolute;
  right: 15px;
  top: 11px;
  height: 28px;
  width: 28px;
  border: 1px solid #392657;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #392657;
  overflow: hidden;
}

.header .de-avatar img {
  width: 100%;
}

.header .back-cancel-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  padding: 0 5px 0 15px;
  line-height: 53px;
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: #bcc2ca;
}

.header .filter-box {
  position: absolute;
  left: 15px;
  top: 0;
  height: 53px;
  line-height: 53px;
  font-size: 14px;
  padding-right: 15px;
}

.header .filter-box:after {
  position: absolute;
  content: '';
  right: 0px;
  top: 23px;
  width: 0px;
  height: 0px;
  border-top: 6px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0 none;
}

.header .search-box {
  position: relative;
  margin: 0 5px 0 65px;
}

.header .search-box input {
  width: 100%;
  height: 35px;
  padding: 10px 15px 10px 40px;
  border: 0 none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  background-color: #e5e5e5;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}

.header .search-explain {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 110px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  /* text-align: right; */
  font-size: 12px;
  color: #8b9097;
}

.header .search-explain:before {position: absolute;
  content: '';
  left: 0px;
  top: 18px;
  width: 16px;
  height: 18px;background-repeat: no-repeat;}

.header .cancel-btn {
  position: absolute;
  display: none;
  right: 2px;
  top: 0;
  height: 53px;
  line-height: 53px;
  padding: 0 10px 0 5px;
}

.header.is-search .filter-box, .header.is-search .de-avatar, .header.is-search .search-explain {
  display: none;
}

.header.is-search .cancel-btn {
  display: block;
}

.header.is-search .search-box {
  margin: 0 55px 0 15px;
}

.header.is-search .search-box:before {position: absolute;
  content: '';
  left: 15px;
  top: 18px;
  width: 16px;
  height: 18px;background-repeat: no-repeat;}

.teachers-body, .teacher-detail-body, .course-detail-body, .course-body, .car-body, .user-ct, .card-body {
  background: #dcdcdc!important;
}

.teachers-ct {
  padding-bottom: 10px;
}

.teachers-ct .sort-name {
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
  color: #8a919b;
}

.teachers-ct .teacher-panel {
  margin-bottom: 10px;
}

.teachers-ct .teacher-panel:last-child {
  margin-bottom: 0;
}

.teacher-panel {
  padding: 10px 15px 5px;
  background-color: #fff;
}

.teacher-panel .m-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.teacher-panel .avatar {
  width: 51px;
  height: 51px;
  border: 1px solid #d0d0d0;
  margin-right: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.teacher-panel .avatar img {
  display: block;
  width: 100%;
}

.teacher-panel .name {
  line-height: 1.0;
  font-size: 18px;
  font-weight: normal;
  color: #524070;
  position: relative;
  top: -10px;
}

.teacher-panel .name-desc {
  float:right;
  color: #00adef;
  position: relative;
  right: -2px;
}

.teacher-panel .tags {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  line-height: 12px;
  text-align: right;
}

.teacher-panel .tags .tag-box {
  margin: 2px 0 2px 10px;
}

.teacher-panel .des-box {
  margin: 20px 0 10px;
  line-height: 1.5;
  font-size: 14px;
  color: #9ba0a8;
  /* margin-left: 66px; */
}

.tag-box {
  display: inline-block;
  height: 14px;
  line-height: 16px;
  padding: 0 4px;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
}

.green-tag {
  color: #7ec93d;
  border-color: #7ec93d;
}

.blue-tag {
  color: #569efb;
  border-color: #569efb;
}

.orange-tag {
  color: #f6b01d;
  border-color: #f6b01d;
}

.red-tag {
  color: #eb4b58;
  border-color: #eb4b58;
}

.purple-tag {
  color: #9a54cb;
  border-color: #9a54cb;
}

.teacher-detail-ct .title {
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
  color: #8a919b;
}

.teacher-class-panel {
  padding: 10px 15px 5px;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
}
.teacher-class-panel .org{color:#00adef;}
.teacher-class-panel .des-box {
  margin: 12px 0 10px;
  line-height: 1.5;
  font-size: 14px;
  color: #8a919b;
}

.teacher-class-panel .m-line, .course-panel .m-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  /* -webkit-box-pack: justify; */
  /* -webkit-justify-content: space-between; */
  /* justify-content: space-between; */
}
.teacher-class-panel .m-line h1{
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* margin-right: 30px; */
    position: relative;
    color: #414348;
}
.teacher-class-panel .m-line .tag-shiting{color: #00adef;font-size: 12px;border: 1px solid;border-radius: 3px;padding: 0 5px;float: left;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 1;-webkit-box-orient: vertical;display: block;/* width: 73px; */margin-left: 10px;}

.teacher-class-panel .name-box, .course-panel .name-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  /* padding-right: 8px; */
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}
.teacher-class-panel .name-box, .course-panel .name-box  img{
  width:25%;
  border-radius: 6px;
}
.teacher-class-panel .name-box > span, .course-panel .name-box > span {
  display: block;
}

.teacher-class-panel .name-box .name, .course-panel .name-box .name {
  margin-left: 8px;
  line-height: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  font-size: 15px;
  font-weight: bold;
  color: #524070;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teacher-class-panel .name-box .tag-box, .course-panel .name-box .tag-box {
  position: relative;
  top: -1px;
}

.teacher-class-panel .price-box, .course-panel .price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  max-width: 146px;
  font-size: 12px;
  color: #8a919b;
}

.teacher-class-panel .price-box > span, .course-panel .price-box > span {
  display: block;
  line-height: 1;
}

.teacher-class-panel .price-box .price, .course-panel .price-box .price {
  position: relative;
  top: 2px;
  padding-right: 2px;
  font-size: 20px;
  color: #f6b01d;
}

.teacher-class-panel .price-box .price i, .course-panel .price-box .price i {
  font-size: 14px;
  font-style: normal;
}



.teacher-select-panel {
  position: absolute;
  left: 15px;
  top: 48px;
  width: 145px;
  text-align: center;
  z-index: 201;
}
.downmenu-category,.downmenu-organization,.downmenu-time,.downmenu-price {
  position: absolute;
  left: 5px;
  top: 98px;
  width: 100px;
  text-align: center;
  z-index: 201;
}
.downmenu-organization{
  left: 49%;
}
.downmenu-time{
  left: auto;right:50%;
}
.downmenu-price {
  right: 5px;
  left: auto;
}
.teacher-select-panel:before {
  position: absolute;
  content: '';
  top: -7px;
  left: 59px;
  width: 0px;
  height: 0px;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 0 none;
}
.downmenu-organization:before,.downmenu-time:before,.downmenu-price:before,.downmenu-category:before {
  position: absolute;
  content: '';
  top: -7px;
  left: 46px;
}
.teacher-select-panel ul {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(4, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(4, 0, 0, 0.1);
  font-size: 14px;
  color: #524070;
  background-color: #fff;
}

.teacher-select-panel li {
  line-height: 45px;
  border-top: 1px solid #dfdee0;
  color: #00adef;
}

.teacher-select-panel li:first-child {
  border-top: 0 none;
}

.teachers-search-ct {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9;
}

.search-result-panel {
  padding-left: 15px;
}

.search-result-panel .title {
  line-height: 36px;
  font-size: 12px;
  color: #8a919b;
  border-bottom: 1px solid #dfdee0;
}

.search-result-panel .result-list {
  font-size: 15px;
  color: #8a919b;
}

.search-result-panel li {
  line-height: 39px;
  border-bottom: 1px solid #dfdee0;
}

.search-result-panel li span {
  color: #524070;
}

.search-history {
  padding: 30px 15px 15px;
}

.search-history .title {
  line-height: 1;
  margin-bottom: 9px;
  font-size: 12px;
  color: #8a919b;
}

.search-history .his-tag {
  margin-right: 6px;
}

.his-tag {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #8a919b;
  background-color: #f5f5f5;
}

.search-clear-btns {
  margin-top: 20px;
  text-align: center;
}

.search-clear-btns .clear-his-btn {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border: 1px solid #f6b01d;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #f6b01d;
}

.search-clear-btns .clear-his-btn:active {
  background-color: #f4f3ee;
}

.search-num-ct {
  line-height: 16px;
  font-size: 14px;
  padding: 10px 15px;
  color: #8a919b;
}

.course-detail-ct .title {
  line-height: 28px;
  padding: 1px 15px 0;
  font-size: 12px;
  color: #8a919b;
}

.course-detail-ct .teacher-panel {
  margin-top: 1px;
}

.course-detail-ct .teacher-class-panel {
  margin-bottom: 0;
}

.course-detail-ct .course-panel {
  margin-bottom: 10px;
}

.course-detail-ct .course-panel:last-child {
  margin-bottom: 0;
}

.course-detail-ct .course-panel .m-line {
  margin-bottom: 10px;
}

.course-detail-ct .course-panel .name {
  margin-left: 0;
}

.course-detail-ct .course-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  line-height: 34px;
  font-size: 14px;
}

.course-detail-ct .justify-box {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.course-detail-ct .break-box {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  line-height: 20px;
  padding: 7px 0;
}

.course-detail-ct .f-b {
  color: #8a919b;
}

.course-detail-ct .s-b {
  color: #524070;
}

.course-detail-ct .flex-b {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}

.course-detail-ct .notice-box {
  height: 16px;
  line-height: 17px;
  margin-left: 10px;
  padding: 0 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  color: #e44459;
  background-color: #efd3d7;
}

.course-detail-ct .orange-btn {
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid #00adef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #00adef;
}

.course-detail-ct .course-time-box {
  position: relative;
  font-size: 14px;
  color: #8a919b;
  background-color: #f5f5f5;
  margin: 4px -15px 0;
  padding: 0 15px;
}

.course-detail-ct .course-time-box:before {
  position: absolute;
  content: '';
  top: -6px;
  right: 46px;
  width: 0px;
  height: 0px;
  border-bottom: 6px solid #f5f5f5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0 none;
}

.course-detail-ct .course-time-box ul {
  padding: 8px 0 10px;
}

.course-detail-ct .course-time-box li {
  float: right;
  line-height: 23px;
}

.course-detail-ct .course-time-box .time-title {
  line-height: 1;
  padding-top: 12px;
  font-size: 14px;
  text-align: right;
}

.course-detail-ct .course-bt-btns {
  margin-top: 4px;
  padding: 6px 0 2px;
  border-top: 1px solid #dfdee0;
  text-align: center;
}

.course-detail-ct .course-bt-btns .add-btn {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  padding: 0 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background-color: #f6b01d;
}

.course-detail-ct .orange-tips {
  font-size: 12px;
  font-weight: normal;
  color: #f6b01d;
}

.course-ex-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/course-mask.png) no-repeat scroll 0 0;
  background-size: 100% auto;
  z-index: 100;
}

.course-ex-panel .close-btn {
  position: fixed;
  bottom: 50px;
  left: 50%;
  width: 122px;
  height: 42px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: url(../img/close-course-mask.png) no-repeat scroll 0 0;
  background-size: cover;
}

.left-nav-ct {
  position: fixed;
  left: 0;
  /* left: -102%; */
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: url(../img/nav-bg.png) no-repeat scroll 0 0 #546493;
  background-size: cover;
}

.left-nav-ct .user-panel {
  position: relative;
  height: 30.3734%;
  text-align: center;
}

.left-nav-ct .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
}

.left-nav-ct .close-btn:after {position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);background-repeat: no-repeat;}

.left-nav-ct .space-d {
  height: 21.3115%;
}

.left-nav-ct .avatar-box {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border: 4px solid #75679b;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.left-nav-ct .avatar-box img {
  display: block;
  width: 100%;
}

.left-nav-ct .user-name {
  max-width: 80%;
  margin: 19px auto 0;
  line-height: 1.2;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left-nav-ct .nav-list {
  font-size: 14px;
  color: #fff;
}

.left-nav-ct .nav-list li {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
}

.left-nav-ct .nav-list li.active {
  background: url(../img/nav-select-bg.png) no-repeat scroll 0 0;
  background-size: 100% 100%;
}

.left-nav-ct .nav-list li:after {position: absolute;
  content: '';
  width: 6px;
  height: 11px;
  right: 41px;
  top: 20px;background-repeat: no-repeat;}

.left-nav-ct .nav-list li:nth-child(2) .nav-title:before {background-repeat: no-repeat;}

.left-nav-ct .nav-list li:nth-child(3) .nav-title:before {background-repeat: no-repeat;}

.left-nav-ct .nav-list li:nth-child(4) .nav-title:before {background-repeat: no-repeat;}

.left-nav-ct .nav-list li:nth-child(5) .nav-title:before {background-repeat: no-repeat;}

.left-nav-ct .nav-list .nav-title {
  position: relative;
  padding-left: 35px;
}

.left-nav-ct .nav-list .nav-title:before {position: absolute;
  content: '';
  width: 19px;
  height: 19px;
  left: 0;
  top: 15px;background-repeat: no-repeat;}

.left-nav-ct .nav-list .course-num {
  position: absolute;
  top: 17px;
  right: 58px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #f6b01d;
}

.left-nav-ct .bot-box {
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: 53px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  line-height: 1;
  color: #88a8c1;
  color: rgba(255, 255, 255, 0.2);
}

.left-nav-ct .bot-box .phone-p {
  position: relative;
  display: block;
  float: left;
  padding-left: 20px;
  max-width: 35%;
  color: #88a8c1;
  color: rgba(255, 255, 255, 0.2);
}

.left-nav-ct .bot-box .phone-p:before {position: absolute;
  content: '';
  width: 10px;
  height: 11px;
  left: 5px;
  top: 0;background-repeat: no-repeat;}

.left-nav-ct .bot-box .wx-p {
  position: relative;
  display: block;
  float: right;
  padding-left: 18px;
  padding-right: 5px;
  max-width: 35%;
  color: #88a8c1;
  color: rgba(255, 255, 255, 0.2);
}

.left-nav-ct .bot-box .wx-p:before {position: absolute;
  content: '';
  width: 13px;
  height: 11px;
  left: 0;
  top: 1px;background-repeat: no-repeat;}

.left-nav-ct .login-space {
  height: 40%;
}

.left-nav-ct .login-panel {
  display: inline-block;
  margin: 0 atuo;
}

.left-nav-ct .nav-btns {
  display: inline-block;
  margin: 0 8px;
  width: 88px;
  height: 37px;
  line-height: 39px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  background-color: #302049;
  color: #fff;
}

.car-ct {
  padding: 10px 0 50px;
}

.car-ct .car-panel {
  position: relative;
}

.car-ct .car-panel .name {
  /* margin-left: 8px; */
}

.car-ct .car-panel .course-time-box {
  margin: 4px -15px 0 0;
}

.car-ct .car-top-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.car-ct .car-top-info .check-panel {
  position: relative;
  width: 28px;
}

.car-ct .car-top-info .check-panel i {
  position: absolute;
  top: 76px;
  left: -6px;
  width: 100%;
  height: 40px;
}

.car-ct .car-top-info .check-panel i:after {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: 7px;
  top: -71px;
  background-repeat: no-repeat;
  }

.car-ct .car-top-info .check-panel i.is-checked:after {background-repeat: no-repeat;}

.car-ct .car-top-info .info-panel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}

.car-ct .name-box .tag-box {
  position: relative;
  top: -1px;
}

.car-ct .car-bt-btns {
  text-align: right;
}

.car-ct .car-clear-btns {
  padding: 5px 0 15px;
  text-align: center;
}

.car-ct .overdue-panel {
  position: absolute;
  top: 55px;
  left: 50%;
  width: 171px;
  height: 103px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: url(../img/overdue.png) no-repeat scroll 0 0;
  background-size: cover;
}

.car-pay-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: #fff;
  z-index: 99;
}

.car-pay-panel .check-box {
  float: left;
  position: relative;
  display: inline-block;
  padding-left: 39px;
  line-height: 50px;
  font-size: 14px;
  color: #524070;
}

.car-pay-panel .check-box:before {position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: 16px;
  top: 18px;background-repeat: no-repeat;}

.car-pay-panel .check-box.is-checked:before {background-repeat: no-repeat;}

.car-pay-panel .pay-btn {
  float: right;
  line-height: 50px;
  width: 100px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: #f6b01d;
}

.car-pay-panel .total-price {
  display: inline-block;
  float: right;
  line-height: 50px;
  padding-right: 25px;
  font-size: 12px;
  color: #8a919b;
}

.car-pay-panel .total-price .orange-f {
  color: #f6b01d;
}

.car-pay-panel .total-price .price {
  position: relative;
  top: 2px;
  font-size: 20px;
}

.gray-name {
  font-size: 12px;
  font-weight: normal;
  color: #8a919b;
}

.gray-name i {position: relative;
  top: 1px;
  display: inline-block;
  width: 16px;
  height: 14px;
  margin: 0 3px;background-repeat: no-repeat;}

.gray-btn {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  border: 1px solid #8a919b;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #8a919b;
}

.car-empty-panel {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 9;
}

.car-empty-panel .car-empty-space {
  height: 13%;
}

.car-empty-panel .empty-car-img {
  width: 55px;
  height: 64px;
  margin: 0 auto 14px;
}

.car-empty-panel .empty-car-img img {
  display: block;
  width: 100%;
}

.car-empty-panel p {
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
  color: #8a919b;
}

.user-ct .user-center-box {
  margin-top: 10px;
}

.user-ct .user-title {
  position: relative;
  padding: 0 23px;
  line-height: 30px;
  font-size: 12px;
  color: #8a919b;
}

.user-ct .user-title:before {
  position: absolute;
  content: '';
  top: 8px;
  left: 15px;
  bottom: 8px;
  width: 3px;
  border-radius: 2px;
  background-color: #8a919b;
}

.user-ct .user-list {
  padding-left: 15px;
  margin-bottom: 10px;
  background-color: #fff;
}

.user-ct .user-list li {
  position: relative;
  line-height: 50px;
  border-top: 1px solid #dfdee0;
  font-size: 14px;
  color: #524070;
}

.user-ct .user-list li:first-child {
  border-top: 0 none;
}

.user-ct .user-list .next-l:after {position: absolute;
  content: '';
  width: 6px;
  height: 11px;
  right: 15px;
  top: 20px;background-repeat: no-repeat;}

.user-ct .user-list .flex-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.user-ct .user-list .flex-l div:first-child {
  max-width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-ct .user-list .flex-l div:last-child {
  height: 50px;
  line-height: 53px;
  padding: 0 15px 0 5px;
  font-size: 13px;
  text-align: right;
  color: #8a919b;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-center-box {
  padding: 12px 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.user-center-box .left-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}

.user-center-box .right-box {
  position: relative;
  left: 6px;
  height: 36px;
  width: 36px;
}

.user-center-box .right-box:after {position: absolute;
  content: '';
  right: 6px;
  top: 10px;
  height: 16px;
  width: 17px;background-repeat: no-repeat;}

.user-center-box .avatar-pic {
  width: 66px;
  height: 66px;
  margin-right: 15px;
  -webkit-border-radius: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.user-center-box .avatar-pic img {
  display: block;
  width: 100%;
}

.user-center-box .user-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}

.user-center-box .user-info h3 {
  line-height: 1.2;
  margin-bottom: 7px;
  font-size: 15px;
  color: #524070;
}

.user-center-box .user-info p {
  line-height: 1.2;
  font-size: 14px;
  color: #8a919b;
}

.card-top-panel {
  height: 150px;
}

.card-fixed-box {
  position: fixed;
  left: 0;
  right: 0;
  top: 53px;
  height: 140px;
  z-index: 99;
}

.card-fixed-box .card-nav {
  height: 50px;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 1px solid #dfdee0;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
}

.card-fixed-box .card-nav-list {
  border-top: 1px solid #dfdee0;
  padding-top: 10px;
  line-height: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 13px;
  text-align: center;
  color: #8a919b;
}

.card-fixed-box .card-nav-list li {
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #dfdee0;
}

.card-fixed-box .card-nav-list li:first-child {
  border-left: 0 none;
}

.card-fixed-box .card-nav-list li.active {
  color: #f6b01d;
}

.card-ct .course-panel .name {
  margin-left: 8px;
}

.card-ct .cancel-panel {
  position: relative;
  margin: 12px 0 2px;
  padding: 6px 13px;
  line-height: 2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #8a919b;
  background-color: #f5f5f5;
}

.card-ct .cancel-panel:before {
  position: absolute;
  content: '';
  top: -7px;
  left: 70px;
  width: 0px;
  height: 0px;
  border-bottom: 7px solid #f5f5f5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 0 none;
}

.card-ct .card-bt-btns {
  padding: 8px 0 4px;
  height: 26px;
}

.card-ct .card-bt-tips {
  line-height: 26px;
  float: left;
}

.card-ct .card-right-btns {
  float: right;
}

.card-ct .card-right-btns .gray-btn {
  margin-left: 10px;
}

.card-ct .bot-box {
  padding: 6px 0 12px;
  text-align: center;
  line-height: 14px;
}

.card-ct .bot-box a {
  display: inline-block;
  font-size: 12px;
  color: #8a919b;
}

.card-ct .bot-box .phone-p {
  position: relative;
  padding-left: 20px;
  max-width: 35%;
  margin-right: 30px;
}

.card-ct .bot-box .phone-p:before {position: absolute;
  content: '';
  width: 10px;
  height: 11px;
  left: 5px;
  top: 2px;background-repeat: no-repeat;}

.card-ct .bot-box .wx-p {
  position: relative;
  padding-left: 18px;
  padding-right: 5px;
  max-width: 35%;
}

.card-ct .bot-box .wx-p:before {position: absolute;
  content: '';
  width: 13px;
  height: 11px;
  left: 0;
  top: 1px;background-repeat: no-repeat;}

.card-ct .empty-card-box {
  padding-top: 68px;
  font-size: 15px;
  text-align: center;
  color: #8a919b;
}

.card-ct .empty-card-box .empty-pic {
  width: 76px;
  height: 71px;
  margin: 0 auto 8px;
}

.card-ct .empty-card-box .empty-pic img {
  display: block;
  width: 100%;
}

.card-ct .empty-card-box p {
  line-height: 22px;
}

.share-page, .share-body, .share-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.share-panel {
  background: url(../img/nav-bg.png) no-repeat scroll 0 0 #546493;
  background-size: cover;
}

.share-panel .share-title {
  position: relative;
  line-height: 30px;
  margin: 23px 0 36px;
  text-align: center;
}

.share-panel .share-title h1 {
  position: relative;
  display: inline-block;
  font-size: 17px;
  color: #fff;
}

.share-panel .share-title h1:before {
  position: absolute;
  content: '';
  top: 13px;
  left: -37px;
  width: 28px;
  height: 1px;
  background-color: #fff;
}

.share-panel .share-title h1:after {
  position: absolute;
  content: '';
  top: 13px;
  right: -37px;
  width: 28px;
  height: 1px;
  background-color: #fff;
}

.share-panel .avatar-box {
  position: absolute;
  right: 15px;
  top: 0;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #392657;
  background-color: #392657;
  overflow: hidden;
}

.share-panel .avatar-box img {
  display: block;
  width: 100%;
}

.share-panel .share-content {
  width: 268px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 14px;
  color: #fff;
}

.share-panel .share-code {
  width: 249px;
  margin: 40px auto 0;
  padding: 35px 0 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
}

.share-panel .share-code p {
  margin: 20px 0 10px;
  line-height: 1;
  font-size: 13px;
  color: #8a919b;
}

.share-panel .share-code h1 {
  line-height: 1;
  font-size: 17px;
  color: #524070;
}

.share-panel .code-img {
  width: 159px;
  height: 159px;
  margin: 0 auto;
}

.share-panel .code-img img {
  display: block;
  width: 100%;
}

.share-panel .bot-box {
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: 53px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  line-height: 1;
  color: #88a8c1;
  color: rgba(255, 255, 255, 0.2);
}

.share-panel .bot-box .phone-p {
  position: relative;
  display: block;
  float: left;
  padding-left: 20px;
  max-width: 35%;
  color: #88a8c1;
  color: rgba(255, 255, 255, 0.2);
}

.share-panel .bot-box .phone-p:before {position: absolute;
  content: '';
  width: 10px;
  height: 11px;
  left: 5px;
  top: 0;background-repeat: no-repeat;}

.share-panel .bot-box .wx-p {
  position: relative;
  display: block;
  float: right;
  padding-left: 18px;
  padding-right: 5px;
  max-width: 35%;
  color: #88a8c1;
  color: rgba(255, 255, 255, 0.2);
}

.share-panel .bot-box .wx-p:before {position: absolute;
  content: '';
  width: 13px;
  height: 11px;
  left: 0;
  top: 1px;background-repeat: no-repeat;}

.syllabus-html {
  min-height: 100%;
  background-color: #fcfcfc;
}

.syllabus-body .date-panel-space {
  height: 304px;
}

.syllabus-body .date-panel-space.is-four {
  height: 262px;
}

.syllabus-body .date-panel-space.is-six {
  height: 346px;
}

.syllabus-body .date-panel {
  position: fixed;
  top: 53px;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  z-index: 11;
}

.syllabus-body .date-mouth-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 53px;
  font-size: 0;
}

.syllabus-body .date-mouth-box div {
  padding: 0 20px;
  font-size: 22px;
  color: #524070;
}

.syllabus-body .date-mouth-box .left-btn {
  position: relative;
  width: 6px;
  height: 53px;
}

.syllabus-body .date-mouth-box .left-btn:after {position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -3px;
  width: 6px;
  height: 11px;background-repeat: no-repeat;}

.syllabus-body .date-mouth-box .right-btn {
  position: relative;
  width: 6px;
  height: 53px;
}

.syllabus-body .date-mouth-box .right-btn:after {position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -3px;
  width: 6px;
  height: 11px;background-repeat: no-repeat;}

.syllabus-body .week-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  line-height: 25px;
  padding: 0 14px;
  font-size: 12px;
  text-align: center;
  color: #2b3136;
  background-color: #f5f5f5;
}

.syllabus-body .week-box li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 14.28572%;
}

.syllabus-body .day-box {
  padding: 7px 14px;
}

.syllabus-body .day-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  line-height: 25px;
  font-size: 17px;
  text-align: center;
  color: #8a919b;
}

.syllabus-body .day-list li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 14.28572%;
  line-height: 40px;
  padding: 1px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.syllabus-body .day-list li div {
  width: 40px;
  margin: 0 auto;
}

.syllabus-body .day-list .un {
  color: #d5dae0;
}

.syllabus-body .day-list .has div {
  border: 1px solid #f6b01d;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.syllabus-body .day-list .active div {
  color: #fff;
  background-color: #f6b01d;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.syll-list-panel li {
  line-height: 20px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #dfdee0;
  font-size: 12px;
}

.syll-list-panel .time {
  width: 86px;
  color: #2b3136;
}

.syll-list-panel .detail {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}

.syll-list-panel .detail h3 {
  font-size: 14px;
  color: #524070;
}

.syll-list-panel .detail p {
  position: relative;
  padding-left: 13px;
  color: #8a919b;
}

.syll-list-panel .detail p:before {position: absolute;
  content: '';
  left: 0;
  top: 5px;
  width: 8px;
  height: 10px;background-repeat: no-repeat;}

@media only screen and (max-width: 360px) {
  .left-nav-ct .bot-box {
    left: 40px;
    right: 40px;
  }
  .share-panel .share-title {
    margin: 23px 0 26px;
  }
  .share-panel .share-code {
    margin: 30px auto 0;
  }
  .share-panel .bot-box {
    bottom: 33px;
    left: 40px;
    right: 40px;
  }
}

@media only screen and (min-width: 400px) {
  .share-panel .bot-box {
    left: 90px;
    right: 90px;
  }
}

@media only screen and (max-height: 520px) {
  .left-nav-ct .user-name {
    margin: 10px auto 0;
  }
  .left-nav-ct .bot-box {
    bottom: 36px;
  }
}

@media only screen and (min-height: 640px) {
  .share-panel .share-title {
    margin: 33px 0 46px;
  }
  .share-panel .share-code {
    margin: 50px auto 0;
  }
  .share-panel .bot-box {
    bottom: 63px;
  }
}

.header .search-explain:before{
    background-position:-54px -27px;
}
.header.is-search .search-box:before{
    background-position:-54px -27px;
}
.left-nav-ct .close-btn:after{
    background-position:-25px -54px;
}
.left-nav-ct .nav-list li:after{
    background-position:-32px -78px;
}
.left-nav-ct .nav-list li:nth-child(2) .nav-title:before{
    background-position:0px 0px;
}
.left-nav-ct .nav-list li:nth-child(3) .nav-title:before{
    background-position:-27px 0px;
}
.left-nav-ct .nav-list li:nth-child(4) .nav-title:before{
    background-position:0px -27px;
}
.left-nav-ct .nav-list li:nth-child(5) .nav-title:before{
    background-position:-27px -27px;
}
.left-nav-ct .nav-list .nav-title:before{
    background-position:-54px 0px;
}
.left-nav-ct .bot-box .phone-p:before{
    background-position:0px -78px;
}
.share-panel .bot-box .phone-p:before{
    background-position:0px -78px;
}
.left-nav-ct .bot-box .wx-p:before{
    background-position:-81px -44px;
}
.share-panel .bot-box .wx-p:before{
    background-position:-81px -44px;
}
.car-ct .car-top-info .check-panel i:after{
    background-position:-81px -22px;
}
.car-pay-panel .check-box:before{
    background-position:-81px -22px;
}
.car-ct .car-top-info .check-panel i.is-checked:after{
    background-position:-81px 0px;
}
.car-pay-panel .check-box.is-checked:before{
    background-position:-81px 0px;
}
.gray-name i{
    background-position:-48px -54px;
}
.user-ct .user-list .next-l:after{
    background-position:-18px -78px;
}
.user-center-box .right-box:after{
    background-position:0px -54px;
}
.card-ct .bot-box .phone-p:before{
    background-position:-46px -78px;
}
.card-ct .bot-box .wx-p:before{
    background-position:-64px -78px;
}
.syllabus-body .date-mouth-box .left-btn:after{
    background-position:-85px -78px;
}
.syllabus-body .date-mouth-box .right-btn:after{
    background-position:-103px 0px;
}
.syll-list-panel .detail p:before{
    background-position:0px -97px;
}
.header .search-explain:before,.header.is-search .search-box:before,.left-nav-ct .close-btn:after,.left-nav-ct .nav-list li:after,.left-nav-ct .nav-list li:nth-child(2) .nav-title:before,.left-nav-ct .nav-list li:nth-child(3) .nav-title:before,.left-nav-ct .nav-list li:nth-child(4) .nav-title:before,.left-nav-ct .nav-list li:nth-child(5) .nav-title:before,.left-nav-ct .nav-list .nav-title:before,.left-nav-ct .bot-box .phone-p:before,.share-panel .bot-box .phone-p:before,.left-nav-ct .bot-box .wx-p:before,.share-panel .bot-box .wx-p:before,.car-ct .car-top-info .check-panel i:after,.car-pay-panel .check-box:before,.car-ct .car-top-info .check-panel i.is-checked:after,.car-pay-panel .check-box.is-checked:before,.gray-name i,.user-ct .user-list .next-l:after,.user-center-box .right-box:after,.card-ct .bot-box .phone-p:before,.card-ct .bot-box .wx-p:before,.syllabus-body .date-mouth-box .left-btn:after,.syllabus-body .date-mouth-box .right-btn:after,.syll-list-panel .detail p:before{
    background-size: 117px 107px;
    background-image: url(../img/teacher.png)
}
.box-filter{
    background: #FFF;
}
.box-filter ul{list-style: none;/* clear:both; */}
.box-filter ul li{width: 25%;height: 50px;line-height: 50px;float: left;color: #9ba0a8;position: relative;text-align: center;}
.box-filter ul li:after {
  position: absolute;
  content: '';
  right: 10px;
  top: 23px;
  width: 0px;
  height: 0px;
  border-top: 6px solid #9ba0a8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0 none;
}
.box-filter ul li.line:before {
  position: absolute;
  content: '';
  left: 7px;
  top: 15px;
  width: 1px;
  height: 18px;
  background: #9ba0a8;
}
.huodongchangci{}
.huodongchangci .content{background: #FFF;padding: 15px;position:relative;}
.huodongchangci .content .list-item-title{color: #484b50;font-size: 20px;padding-bottom: 10px;}
.huodongchangci .content .list-item{    color: #484b50;font-size: 16px;margin-top:15px;}
.huodongchangci .content .list-item label{    color: #9ba0a8;}
.huodongchangci .content .btn-buy{
    width: 60px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #00adef;
    background: #00adef;
    color: #FFF;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
}