@import "reset";
@import "variate";
@import "common";

.header {
    .filter-box {
        position: absolute;
        left: 15px;
        top: 0;
        height: 53px;
        line-height: 53px;
        font-size: 14px;
        padding-right: 15px;
        &:after {
            position: absolute;
            content: '';
            right: 0px;
            top: 23px;
            width: 0px;
            height: 0px;
            border-top: 6px solid #fff;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 0 none;
        }
    }
    .search-box {
        position: relative;
        margin: 0 55px 0 95px;
        input {
            width: 100%;
            height: 35px;
            padding: 10px 15px 10px 40px;
            border: 0 none;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 14px;
            color: #fff;
            background-color: #392657;
            -webkit-border-radius: 35px;
            border-radius: 35px;
        }
    }
    .search-explain {
        position: absolute;
        left: 50%;
        top: 0px;
        width: 110px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-align: right;
        font-size: 12px;
        color: #74688e;
        &:before {position: absolute;
            content: '';
            left: 0px;
            top: 18px;
            width: 16px;
            height: 18px;background-repeat: no-repeat;}
    }
    .cancel-btn {
        position: absolute;
        display: none;
        right: 2px;
        top: 0;
        height: 53px;
        line-height: 53px;
        padding: 0 10px 0 5px;
    }
    &.is-search {
        .filter-box, .de-avatar, .search-explain {
            display: none;
        }
        .cancel-btn {
            display: block;
        }
        .search-box {
            margin: 0 55px 0 15px;
            &:before {position: absolute;
                content: '';
                left: 15px;
                top: 18px;
                width: 16px;
                height: 18px;background-repeat: no-repeat;}
        }
    }
}

.teachers-body, .teacher-detail-body {
    background-color: #f5f5f5;
}
.teachers-ct {
    padding-bottom: 10px;
    .sort-name {
        line-height: 30px;
        padding: 0 15px;
        font-size: 12px;
        color: #8a919b;
    }
    .teacher-panel {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.teacher-panel {
    padding: 10px 15px 5px;
    background-color: #fff;
    .m-line {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .avatar {
        width: 41px;
        height: 41px;
        border: 1px solid #d0d0d0;
        margin-right: 14px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        overflow: hidden;
        background-color: #d0d0d0;
        img {
            width: 100%;
        }
    }
    .name {
        width: 125px;
        line-height: 1;
        font-size: 15px;
        font-weight: bold;
        color: #524070;
    }
    .tags {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0;
        flex: 1 1 0;
        line-height: 12px;
        text-align: right;
        .tag-box {
            margin-left: 10px;
        }
    }
    .des-box {
        padding: 12px 0 10px;
        line-height: 1.5;
        font-size: 14px;
        color: #8a919b;
    }
}

.tag-box {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    font-size: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.green-tag {
    color: #7ec93d;
    border-color: #7ec93d;
}
.blue-tag {
    color: #569efb;
    border-color: #569efb;
}
.orange-tag {
    color: #f6b01d;
    border-color: #f6b01d;
}
.red-tag {
    color: #eb4b58;
    border-color: #eb4b58;
}

.teacher-detail-ct {
    .title {
        line-height: 30px;
        padding: 0 15px;
        font-size: 12px;
        color: #8a919b;
    }
}
.teacher-class-panel {
    padding: 10px 15px 5px;
    margin-bottom: 10px;
    background-color: #fff;
    .m-line {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .name-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        > span {
            display: block;
        }
        .name {
            margin-left: 8px;
            line-height: 1rem;
            font-size: 15px;
            color: #524070;
        }
    }
    .price-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        font-size: 12px;
        color: #8a919b;
        > span {
            display: block;
            line-height: 1;
        }
        .price {
            padding-right: 2px;
            font-size: 20px;
            color: #f6b01d;
            i {
                font-size: 14px;
                font-style: normal;
            }
        }
    }
    .des-box {
        padding: 12px 0 10px;
        line-height: 1.5;
        font-size: 14px;
        color: #8a919b;
    }
}



.teacher-select-panel {
    position: absolute;
    left: 15px;
    top: 48px;
    width: 145px;
    text-align: center;
    z-index: 201;
    &:before {
        position: absolute;
        content: '';
        top: -7px;
        left: 59px;
        width: 0px;
        height: 0px;
        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 0 none;
    }
    ul {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        color: #524070;
        background-color: #fff;
    }
    li {
        line-height: 45px;
        border-top: 1px solid #dfdee0;
        &:first-child {
            border-top: 0 none;
        }
    }
}
.search-result-panel {
    padding-left: 15px;
    .title {
        line-height: 36px;
        font-size: 12px;
        color: #8a919b;
        border-bottom: 1px solid #dfdee0;
    }
    .result-list {
        font-size: 15px;
        color: #8a919b;
    }
    li {
        line-height: 39px;
        border-bottom: 1px solid #dfdee0;
        span {
            color: #524070;
        }
    }
}
.search-history {
    padding: 30px 15px 15px;
    .title {
        line-height: 1;
        margin-bottom: 9px;
        font-size: 12px;
        color: #8a919b;
    }
    .his-tag {
        margin-right: 6px;
    }
}
.his-tag {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    color: #8a919b;
    background-color: #f5f5f5;
}
.search-clear-btns {
    margin-top: 20px;
    text-align: center;
    .clear-his-btn {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        border: 1px solid #f6b01d;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: #f6b01d;
        &:active {
            background-color: #f4f3ee;
        }
    }
}
position: absolute;
        left: 50%;
        top: 0px;
        width: 110px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-align: right;
        font-size: 12px;
        color: #74688e;
        &:before{
    background-position:0px 0px;
}
margin: 0 55px 0 15px;
            &:before{
    background-position:0px 0px;
}
position: absolute;
        left: 50%;
        top: 0px;
        width: 110px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-align: right;
        font-size: 12px;
        color: #74688e;
        &:before,margin: 0 55px 0 15px;
            &:before{
    background-size: 24px 18px;
    background-image: url(../img/teacher.png)
}