body {
}

.navbar-static-top {
  margin-bottom: 19px;
}

.helper-bar {
  height: 45px;
}

.teacher-desc, .course-desc {
  border: solid #ccc 1px;
  border-radius: 4px;
}

.teacher-desc .title, .course-desc .title {
  background-color: #f5f5f5;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}

.teacher-desc .info,  .course-desc .info{
  padding: 10px;
}

.teacher-desc .teacher-avatar, .course-desc .teacher-avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid #ccc;
  vertical-align:top; 
}

.course-desc .teacher-name {
  height: 50px;
  line-height: 50px;
  vertical-align:top; 
}

